html {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

img, iframe {
  width: 100%;
  border: 1px #c5c5c5 solid !important;
}

p {
  margin-bottom: 1em !important;
}

li:not([data-path]) {
  cursor: not-allowed;
}

#book-search-input {
	background: transparent !important;
	color: #c1c6d7 !important;
}

#book-search-results .search-results .search-results-title {
	color: #fff !important;
}

#book-search-results .search-results .has-results .search-results-item a {
	color: #c5c5c5 !important;
}

#book-search-results .search-results .has-results .search-results-item {
	color: #666 !important;
}

.book-summary a {
	text-decoration: none !important;
}

.dropdown-menu {
  background-color: #0a0a0a;
  border-color: #333;
}

.dropdown-menu .dropdown-caret .caret-inner {
  border-bottom: 10px solid #0a0a0a;
}

.dropdown-menu .buttons {
  border-color: #333;
}

.dropdown-menu .button {
  color: #c5c5c5;
}

.dropdown-menu .button:hover {
  color: #f5f5f5;
}

.book .book-header .font-settings .font-enlarge {
  line-height: 30px;
  font-size: 1.5em;
}

.book .book-header .font-settings .font-reduce {
  line-height: 30px;
  font-size: 1em;
}

.book-body {
  color: #fff;
  background: #000;
}

.book-body .page-wrapper .page-inner section {
  background: #000;
}

.book.font-size-0 .book-body .page-inner section {
  font-size: 1.2rem;
}

.book.font-size-1 .book-body .page-inner section {
  font-size: 1.5rem;
}

.book.font-size-2 .book-body .page-inner section {
  font-size: 1.6rem;
}

.book.font-size-3 .book-body .page-inner section {
  font-size: 2.2rem;
}

.book.font-size-4 .book-body .page-inner section {
  font-size: 4rem;
}

.book.font-family-0 {
  font-family: Georgia, serif;
}

.book.font-family-1 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.book-body .page-wrapper .page-inner section.normal {
  color: #fff;
}

.book-body .page-wrapper .page-inner section.normal a {
  color: #3eb1d0;
}

.book-body .page-wrapper .page-inner section.normal h1,
.book-body .page-wrapper .page-inner section.normal h2,
.book-body .page-wrapper .page-inner section.normal h3,
.book-body .page-wrapper .page-inner section.normal h4,
.book-body .page-wrapper .page-inner section.normal h5,
.book-body .page-wrapper .page-inner section.normal h6 {
  color: #fff;
}

.book-body .page-wrapper .page-inner section.normal h1,
.book-body .page-wrapper .page-inner section.normal h2 {
  border-color: #373b4e;
}

.book-body .page-wrapper .page-inner section.normal h6 {
  color: #373b4e;
}

.book-body .page-wrapper .page-inner section.normal hr {
  background-color: #373b4e;
}

.book-body .page-wrapper .page-inner section.normal blockquote {
  border-color: #373b4e;
}

.book-body .page-wrapper .page-inner section.normal pre,
.book-body .page-wrapper .page-inner section.normal code {
  color: #9dbed8;
  background: #0a0a0a;
  border-color: #0a0a0a;
}

.book-body .page-wrapper .page-inner section.normal .highlight {
  background-color: #282a39;
}

.book-body .page-wrapper .page-inner section.normal table th,
.book-body .page-wrapper .page-inner section.normal table td {
  border-color: #c5c5c5;
}

.book-body .page-wrapper .page-inner section.normal table tr {
  color: #b6c2d2;
  background-color: #0a0a0a;
  border-color: #c5c5c5;
}

.book-body .page-wrapper .page-inner section.normal table tr:nth-child(2n) {
  background-color: #35394b;
}

.book-header {
  color: #7e888b;
  background: transparent;
}

.book-header .btn {
  color: #c5c5c5;
}

.book-header .btn:hover {
  color: #fff;
  background: none;
}

.book-header h1 {
  color: #c5c5c5;
}

.book-body .navigation {
  color: #333;
}

.book-body .navigation:hover {
  color: #fff;
}

.book-summary {
  color: #c5c5c5;
  background: #0a0a0a;
  border-right: none;
}

.book-summary .book-search {
  background: transparent;
}

.book-summary .book-search input,
.book-summary .book-search input:focus {
  border: 1px solid transparent;
}

.book-summary ul.summary li.divider {
  background: #c5c5c5;
  box-shadow: none;
}

.book-summary ul.summary li i.fa-check {
  color: #33cc33;
}

.book-summary ul.summary li.done > a {
  color: #111;
}

.book-summary ul.summary li a,
.book-summary ul.summary li span {
  color: #fff;
  background: transparent;
  font-weight: 600;
}

.book-summary ul.summary li.active > a,
.book-summary ul.summary li a:hover {
  color: #f5f5f5;
  background: #252525;
  font-weight: 600;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
}

::-webkit-scrollbar {
    width: 5px;
    background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
	background-color: #111;
}
